<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>To-Do List</h1>
    <form action="/add" method="post">
        <div>
            <label for="title">Create To-Do Task</label>
            <input type="text" name="title" placeholder="Enter Task">
            <label for="deadline">Deadline</label>
            <input type="text" name="deadline" placeholder="mm-dd">
            <button type="submit">Add</button>
        </div> 
    </form>

    

    {% for todo in todo_list %}
        <p> {{ todo.title }} | {{ todo.deadline.strftime("%m-%d")}} </p>
        {% if todo.complete == True %}
            <span>✓</span>
        {% else %}
            <span>🗴</span>
        {% endif %}
        {% if todo.complete == True %}
            <a href="/update/{{ todo.id }}">Done</a>
        {% elif todo.complete == False %}
            <a href="/update/{{ todo.id }}">Not Done</a>
        {% endif %}
        <a href="/delete/{{ todo.id }}">Delete</a>
    {% endfor %}

</body>
</html>